global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 2048

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:80
    mode http
    redirect scheme https code 301 if !{ ssl_fc }

frontend https_front
    bind *:443 ssl crt /etc/ssl/private/web.pem
    mode http 
    default_backend web_backend

backend web_backend
    balance roundrobin
    option httpchk GET /
    server web1 192.168.10.2:80 check
    server web2 192.168.10.3:80 check
